{% include 'header.html' %}

<div id="bd">
    <div class="yui-ge">
        <div id="main" class="yui-u first">
            <div class="sp"></div>
            {% for entry in entries %}
            <div class="post">
                <h2 class="entry-title"><a rel="bookmark" title="{{ escape(entry.title) }}" href="/view/{{ entry.id }}.html" class="t">{{ escape(entry.title) }}</a></h2>
                <div class="entry-content">
                    {{ entry.content }}
                </div>
                <div class="entry-meta">
                    <span class="author vcard">Posted by {{ handler.settings['blog_author'] }} on {{ locale.format_time(entry.created, gmt_offset=handler.settings['blog_timezone']) }}</span><br>
                    <span class="tag-links">Tags: 
                        {% for tag in entry.tags %}
                        <a rel="tag" href="/tags/{{ tag }}">{{ tag }}</a>{% if tag != entry.tags[-1] %},&nbsp;{% end %}
                        {% end %}
                    </span>
                </div>
            </div>
            {% end %}

            <!--<div class="related"><h2 class="entry-title">Related Post:</h2><br><ul class="related"><li><a href="http://www.ratazzi.org/view/322.html" class="p">rashost VPS 部署笔记</a></li></ul></div>-->
        </div>

        {% include 'sidebar.html' %}
    </div>
</div>
<div class="sp"></div>

{% include 'footer.html' %}
