<div id="sidebar" class="yui-u sidebar">
    <ul class="xoxo">
        <li id="rss-links">
        <h3><a href="feed://feeds.feedburner.com/ratazzi" class="t">RSS种子输出</a></h3>
        </li>

        <li id="tags">
        <h3>Tags</h3>
        <ul>
            {% for cloud in clouds %}
            <li><a href="http://{{ request.host }}/tags/{{ escape(cloud) }}">{{ escape(cloud) }}</a></li>
            {% end %}
        </ul>
        </li>

        <li id="hosted">Hosted by <a target="_blank" href="http://www.linode.com/">Linode</a></li>
    </ul>
</div>
