<div id="sidebar" class="yui-u sidebar">
    <ul class="xoxo">
        <li id="rss-links">
        <h3><a href="feed://feeds.feedburner.com/ratazzi" class="t">RSS种子输出</a></h3>
        </li>

        <li id="tags">
        <h3>Tags</h3>
        <ul>
            {% for cloud in clouds %}
            <li><a href="/tags/{{ escape(cloud) }}">{{ escape(cloud) }}</a></li>
            {% end %}
        </ul>
        </li>

        <li id="hosted"><a target="_blank" href="http://code.google.com/appengine/"><img border="0" align="absmiddle" alt="Powered by Google App Engine" src="http://pic.yupoo.com/iweekly/Ar82qEas/MV2Mq.gif"></a></li>
    </ul>
</div>
