{% include 'header.html' %}

<div id="bd">
    <div class="yui-ge">
        <div id="main" class="yui-u first">
            <div class="sp"></div>
            <div class="post">
                <h2 class="entry-title"><a rel="bookmark" title="{{ escape(entry.title) }}" href="/view/{{ entry.id }}.html" class="t">{{ escape(entry.title) }}</a></h2>
                <div class="entry-content">
                    {{ entry.content }}
                </div>
                <div class="entry-meta">
                    <span class="author vcard">Posted by {{ handler.settings['blog_author'] }} on {{ locale.format_time(entry.created, gmt_offset=handler.settings['blog_timezone']) }}</span><br>
                    {% if entry.tags %}
                    <span class="tag-links">Tags: 
                        {% for tag in entry.tags %}
                        <a rel="tag" href="/tags/{{ escape(tag) }}">{{ escape(tag) }}</a>{% if tag != entry.tags[-1] %},&nbsp;{% end %}
                        {% end %}
                    </span>
                    {% end %}
                </div>
            </div>

            {% if related %}
            <div class="related">
                <h2 class="entry-title">Related Post:</h2><br>
                <ul class="related">
                    {% for item in related %}
                    <li><a href="/view/{{ item.id }}.html" class="p">{{ item.title }}</a></li>
                    {% end %}
                </ul>
            </div>
            {% end %}

        </div>

        {% include 'sidebar.html' %}

    </div>
</div>
<div class="sp"></div>

{% include 'footer.html' %}
