<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <title>{{ escape(handler.settings["blog_title"]) }}</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta name="HandheldFriendly" content="True" />
        <link rel="alternate" type="application/rss+xml" title="{{ escape(handler.settings['blog_title']) }}" href="feed://feeds.feedburner.com/ratazzi" />
        <link rel="stylesheet" href="/static/reset-fonts-grids.css" type="text/css">
        <link rel="stylesheet" href="/static/x.css" type="text/css">
        <link rel="stylesheet" href="/static/writer.css" type="text/css">
        <link href="http://www.ratazzi.org/images/s/favicon.ico" rel="shortcut icon" />
    </head>

    <body>
        <div id="doc" class="yui-t7">
            <div id="header">
                <a href="http://{{ request.host }}/" class="img"><h1>{{ escape(handler.settings['blog_title']) }}</h1></a>
            </div>
            <div class="sp"></div>
