{% include 'header.html' %}

<div id="bd">
    <div class="yui-ge">
        <div id="main" class="yui-u first">
            <div class="sp"></div>
            <div class="cell">
                <span class="fade">
                    <a href="/writer/">Writer</a> <span class="chevron">&nbsp;›&nbsp;</span> 新文章
                </span>
            </div>
            <form id="post" action="/writer/new/" method="post">
                <label>标题</label><br />
                <input class="text" name="title" type="text" /><br />
                <label>标签<small>（用英文逗号隔开）</small></label><br />
                <input class="text" name="tags" type="text" /><br />
                <label>内容</label><br />
                <textarea name="content" rows="20" cols="70"></textarea>
                <input type="submit" class="super normal button" value="发布">
            </form>
            <div class="sp"></div>
        </div>

        {% include 'sidebar.html' %}

    </div>
</div>
<div class="sp"></div>

{% include 'footer.html' %}
