<div id="sidebar" class="yui-u">
    <div id="tweet" class="block">
        <ul class="xoxo">
            <div class="inner">
    
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td width="48" valign="top"><a href="/member/ratazzi"><img border="0" alt="ratazzi" src="http://web.me.com/v2ex.livid/v2ex/avatars/14/normal/107.png?r=1281170863"></a></td>
                            <td width="10" valign="top"></td>
                            <td width="auto" align="left"><span class="bigger"><a href="/member/ratazzi">ratazzi</a></span>
                                <div class="sep5"></div>
                                <span class="fade"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
                <div class="sep10"></div>
                <form action="/twitter/tweet/" method="post">
                    <textarea rows="3" name="status" maxlength="140" class="mlt"></textarea>
                    <div class="sep10"></div>
                    <div align="right"><input type="submit" class="super normal button" value="Tweet"></div>
                </form>
    
            </div>
        </ul>
    </div>
    <div id="tooltip" class="block">
        <ul>
            <li>支持 HTML 与 Markdown</li>
            <li>支持 Github Gist，插入网址即可</li>
            <li>支持 img.ly，链接会自动转换为图片</li>
            <li id="hosted">Hosted by <a target="_blank" href="http://www.linode.com/">Linode</a></li>
        </ul>
    </div>
</div>
