{% include 'header.html' %}

<div id="bd">
    <div class="yui-ge">
        <div id="main" class="yui-u first">
            <div class="block">
                <div class="sp"></div>
                <div class="cell">
                    <span class="fade">
                        <a href="/writer/">Writer</a> <span class="chevron">&nbsp;›&nbsp;</span> 编辑
                    </span>
                </div>
                <form id="post" action="/writer/update/{{ entry.id }}" method="post">
                    <label><strong>标题</strong></label><br />
                    <input class="text" name="title" type="text" value="{{ entry.title }}" /><br />
                    <label><strong>Slug</strong></label><br />
                    <input class="text" name="slug" type="text" value="{{ entry.slug }}" /><br />
                    <label><strong>内容</strong></label><br />
                    <textarea name="content" rows="20" cols="70">{{ entry.content }}</textarea>
                    <label><strong>标签</strong><small>（用英文逗号隔开）</small></label><br />
                    <input class="text" name="tags" type="text" value="{% for tag in entry.tags %}{{ tag }}{% if tag != entry.tags[-1] %},{% end %}{% end %}" /><br />
                    <input type="submit" class="super normal button" value="保存">
                </form>
                <div class="sp"></div>
            </div>
        </div>

        {% include 'sidebar.html' %}

    </div>
</div>

{% include 'footer.html' %}
