{% include 'header.html' %}

            <div class="wrapper">
                <div id="mainbody">
                    <div id="main">
                        <div class="post">
                            <h2 class="entry-title"><a class="t" href="/view/{{ entry.id }}.html" title="{{ escape(entry.title) }}" rel="bookmark">{{ escape(entry.title) }}</a></h2>
                            <div class="entry-meta">
                                <span class="label">Tags:</span>
                                <span class="tag-links">
                                    {% for tag in entry.tags %}
                                    <a href="/tags/{{ tag }}" class="tag" rel="tag">{{ tag }}</a>{% if tag != entry.tags[-1] %}<small class="sep">,</small>{% end %}
                                    {% end %}
                                </span>
                            </div>
                            <div class="entry-content">
                                {{ filter.apply(entry.content) }}
                            </div>
                            <div class="entry-meta align-right">
                                <span class="author vcard">@{{ locale.format_time(entry.created, gmt_offset=handler.settings['blog_timezone']) }}</span><br>
                            </div>
                        </div>
                        {% if related %}
                        <div class="entry-related">
                            <h3>Related Post</h3>
                            <ul>
                                {% for item in related %}
                                <li><a href="/view/{{ item.id }}.html">{{ item.title }}</a></li>
                                {% end %}
                            </ul>
                        </div>
                        {% end %}
                    </div>

                    {% include 'sidebar.html' %}

                    <div style="clear:both;"></div>
                </div>

            </div>

{% include 'footer.html' %}
